/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,700,300,600);
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

.flash {
  animation-name: loader;
  animation-duration: 500ms;
  animation-iteration-count: infinite;
  animation-fill-mode: both;
  animation-direction: linear; }

@keyframes flash {
  50% {
    background-color: transparent; } }
.move {
  animation-name: move;
  animation-duration: 30s;
  animation-iteration-count: infinite;
  animation-fill-mode: both;
  animation-direction: alternate; }

@keyframes move {
  from {
    transform: scale(1); }
  to {
    transform: scale(1.15); } }
@font-face {
  font-family: 'Entypo';
  src: url("../font/Entypo.eot");
  src: url("../font/Entypo.eot?#iefix") format("embedded-opentype"), url("../font/Entypo.woff") format("woff"), url("../font/Entypo.ttf") format("truetype"), url("../font/Entypo.svg?#Entypo") format("svg");
  font-weight: normal;
  font-style: normal; }
[class^="icon-"], [class*=" icon-"] {
  font-family: 'Entypo';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Enable Ligatures ================ */
  -webkit-font-feature-settings: "liga";
  -moz-font-feature-settings: "liga=1";
  -moz-font-feature-settings: "liga";
  -ms-font-feature-settings: "liga" 1;
  -o-font-feature-settings: "liga";
  font-feature-settings: "liga";
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.icon-add-to-list:before {
  content: "\e600"; }

.icon-classic-computer:before {
  content: "\e601"; }

.icon-controller-fast-backward:before {
  content: "\e602"; }

.icon-creative-commons-attribution:before {
  content: "\e603"; }

.icon-creative-commons-noderivs:before {
  content: "\e604"; }

.icon-creative-commons-noncommercial-eu:before {
  content: "\e605"; }

.icon-creative-commons-noncommercial-us:before {
  content: "\e606"; }

.icon-creative-commons-public-domain:before {
  content: "\e607"; }

.icon-creative-commons-remix:before {
  content: "\e608"; }

.icon-creative-commons-share:before {
  content: "\e609"; }

.icon-creative-commons-sharealike:before {
  content: "\e60a"; }

.icon-creative-commons:before {
  content: "\e60b"; }

.icon-document-landscape:before {
  content: "\e60c"; }

.icon-remove-user:before {
  content: "\e60d"; }

.icon-warning:before {
  content: "\e60e"; }

.icon-arrow-bold-down:before {
  content: "\e60f"; }

.icon-arrow-bold-left:before {
  content: "\e610"; }

.icon-arrow-bold-right:before {
  content: "\e611"; }

.icon-arrow-bold-up:before {
  content: "\e612"; }

.icon-arrow-down:before {
  content: "\e613"; }

.icon-arrow-left:before {
  content: "\e614"; }

.icon-arrow-long-down:before {
  content: "\e615"; }

.icon-arrow-long-left:before {
  content: "\e616"; }

.icon-arrow-long-right:before {
  content: "\e617"; }

.icon-arrow-long-up:before {
  content: "\e618"; }

.icon-arrow-right:before {
  content: "\e619"; }

.icon-arrow-up:before {
  content: "\e61a"; }

.icon-chevron-down:before {
  content: "\e61b"; }

.icon-arrow-with-circle-left:before {
  content: "\e61c"; }

.icon-arrow-with-circle-right:before {
  content: "\e61d"; }

.icon-arrow-with-circle-up:before {
  content: "\e61e"; }

.icon-bookmark:before {
  content: "\e61f"; }

.icon-bookmarks:before {
  content: "\e620"; }

.icon-chevron-down:before {
  content: "\e621"; }

.icon-chevron-left:before {
  content: "\e622"; }

.icon-chevron-right:before {
  content: "\e623"; }

.icon-chevron-small-down:before {
  content: "\e624"; }

.icon-chevron-small-left:before {
  content: "\e625"; }

.icon-chevron-small-right:before {
  content: "\e626"; }

.icon-chevron-small-up:before {
  content: "\e627"; }

.icon-chevron-thin-down:before {
  content: "\e628"; }

.icon-chevron-thin-left:before {
  content: "\e629"; }

.icon-chevron-thin-right:before {
  content: "\e62a"; }

.icon-chevron-thin-up:before {
  content: "\e62b"; }

.icon-chevron-up:before {
  content: "\e62c"; }

.icon-chevron-with-circle-down:before {
  content: "\e62d"; }

.icon-chevron-with-circle-left:before {
  content: "\e62e"; }

.icon-chevron-with-circle-right:before {
  content: "\e62f"; }

.icon-chevron-with-circle-up:before {
  content: "\e630"; }

.icon-cloud:before {
  content: "\e631"; }

.icon-controller-fast-forward:before {
  content: "\e632"; }

.icon-controller-jump-to-start:before {
  content: "\e633"; }

.icon-controller-next:before {
  content: "\e634"; }

.icon-controller-paus:before {
  content: "\e635"; }

.icon-controller-play:before {
  content: "\e636"; }

.icon-controller-record:before {
  content: "\e637"; }

.icon-controller-stop:before {
  content: "\e638"; }

.icon-controller-volume:before {
  content: "\e639"; }

.icon-dot-single:before {
  content: "\e63a"; }

.icon-dots-three-horizontal:before {
  content: "\e63b"; }

.icon-dots-three-vertical:before {
  content: "\e63c"; }

.icon-dots-two-horizontal:before {
  content: "\e63d"; }

.icon-dots-two-vertical:before {
  content: "\e63e"; }

.icon-download:before {
  content: "\e63f"; }

.icon-emoji-flirt:before {
  content: "\e640"; }

.icon-flow-branch:before {
  content: "\e641"; }

.icon-flow-cascade:before {
  content: "\e642"; }

.icon-flow-line:before {
  content: "\e643"; }

.icon-flow-parallel:before {
  content: "\e644"; }

.icon-flow-tree:before {
  content: "\e645"; }

.icon-install:before {
  content: "\e646"; }

.icon-layers:before {
  content: "\e647"; }

.icon-open-book:before {
  content: "\e648"; }

.icon-resize-100:before {
  content: "\e649"; }

.icon-resize-full-screen:before {
  content: "\e64a"; }

.icon-save:before {
  content: "\e64b"; }

.icon-select-arrows:before {
  content: "\e64c"; }

.icon-sound-mute:before {
  content: "\e64d"; }

.icon-sound:before {
  content: "\e64e"; }

.icon-trash:before {
  content: "\e64f"; }

.icon-triangle-down:before {
  content: "\e650"; }

.icon-triangle-left:before {
  content: "\e651"; }

.icon-triangle-right:before {
  content: "\e652"; }

.icon-triangle-up:before {
  content: "\e653"; }

.icon-uninstall:before {
  content: "\e654"; }

.icon-upload-to-cloud:before {
  content: "\e655"; }

.icon-upload:before {
  content: "\e656"; }

.icon-add-user:before {
  content: "\e657"; }

.icon-address:before {
  content: "\e658"; }

.icon-adjust:before {
  content: "\e659"; }

.icon-air:before {
  content: "\e65a"; }

.icon-aircraft-landing:before {
  content: "\e65b"; }

.icon-aircraft-take-off:before {
  content: "\e65c"; }

.icon-aircraft:before {
  content: "\e65d"; }

.icon-align-bottom:before {
  content: "\e65e"; }

.icon-align-horizontal-middle:before {
  content: "\e65f"; }

.icon-align-left:before {
  content: "\e660"; }

.icon-align-right:before {
  content: "\e661"; }

.icon-align-top:before {
  content: "\e662"; }

.icon-align-vertical-middle:before {
  content: "\e663"; }

.icon-archive:before {
  content: "\e664"; }

.icon-area-graph:before {
  content: "\e665"; }

.icon-attachment:before {
  content: "\e666"; }

.icon-awareness-ribbon:before {
  content: "\e667"; }

.icon-back-in-time:before {
  content: "\e668"; }

.icon-back:before {
  content: "\e669"; }

.icon-bar-graph:before {
  content: "\e66a"; }

.icon-battery:before {
  content: "\e66b"; }

.icon-beamed-note:before {
  content: "\e66c"; }

.icon-bell:before {
  content: "\e66d"; }

.icon-blackboard:before {
  content: "\e66e"; }

.icon-block:before {
  content: "\e66f"; }

.icon-book:before {
  content: "\e670"; }

.icon-bowl:before {
  content: "\e671"; }

.icon-box:before {
  content: "\e672"; }

.icon-briefcase:before {
  content: "\e673"; }

.icon-browser:before {
  content: "\e674"; }

.icon-brush:before {
  content: "\e675"; }

.icon-bucket:before {
  content: "\e676"; }

.icon-cake:before {
  content: "\e677"; }

.icon-calculator:before {
  content: "\e678"; }

.icon-calendar:before {
  content: "\e679"; }

.icon-camera:before {
  content: "\e67a"; }

.icon-ccw:before {
  content: "\e67b"; }

.icon-chat:before {
  content: "\e67c"; }

.icon-check:before {
  content: "\e67d"; }

.icon-circle-with-cross:before {
  content: "\e67e"; }

.icon-circle-with-minus:before {
  content: "\e67f"; }

.icon-circle-with-plus:before {
  content: "\e680"; }

.icon-circle:before {
  content: "\e681"; }

.icon-circular-graph:before {
  content: "\e682"; }

.icon-clapperboard:before {
  content: "\e683"; }

.icon-clipboard:before {
  content: "\e684"; }

.icon-clock:before {
  content: "\e685"; }

.icon-code:before {
  content: "\e686"; }

.icon-cog:before {
  content: "\e687"; }

.icon-colours:before {
  content: "\e688"; }

.icon-compass:before {
  content: "\e689"; }

.icon-copy:before {
  content: "\e68a"; }

.icon-credit-card:before {
  content: "\e68b"; }

.icon-credit:before {
  content: "\e68c"; }

.icon-cross:before {
  content: "\e68d"; }

.icon-cup:before {
  content: "\e68e"; }

.icon-cw:before {
  content: "\e68f"; }

.icon-cycle:before {
  content: "\e690"; }

.icon-database:before {
  content: "\e691"; }

.icon-dial-pad:before {
  content: "\e692"; }

.icon-direction:before {
  content: "\e693"; }

.icon-document:before {
  content: "\e694"; }

.icon-documents:before {
  content: "\e695"; }

.icon-drink:before {
  content: "\e696"; }

.icon-drive:before {
  content: "\e697"; }

.icon-drop:before {
  content: "\e698"; }

.icon-edit:before {
  content: "\e699"; }

.icon-email:before {
  content: "\e69a"; }

.icon-emoji-happy:before {
  content: "\e69b"; }

.icon-emoji-neutral:before {
  content: "\e69c"; }

.icon-emoji-sad:before {
  content: "\e69d"; }

.icon-erase:before {
  content: "\e69e"; }

.icon-eraser:before {
  content: "\e69f"; }

.icon-export:before {
  content: "\e6a0"; }

.icon-eye:before {
  content: "\e6a1"; }

.icon-feather:before {
  content: "\e6a2"; }

.icon-flag:before {
  content: "\e6a3"; }

.icon-flash:before {
  content: "\e6a4"; }

.icon-flashlight:before {
  content: "\e6a5"; }

.icon-flat-brush:before {
  content: "\e6a6"; }

.icon-folder-images:before {
  content: "\e6a7"; }

.icon-folder-music:before {
  content: "\e6a8"; }

.icon-folder-video:before {
  content: "\e6a9"; }

.icon-folder:before {
  content: "\e6aa"; }

.icon-forward:before {
  content: "\e6ab"; }

.icon-funnel:before {
  content: "\e6ac"; }

.icon-game-controller:before {
  content: "\e6ad"; }

.icon-gauge:before {
  content: "\e6ae"; }

.icon-globe:before {
  content: "\e6af"; }

.icon-graduation-cap:before {
  content: "\e6b0"; }

.icon-grid:before {
  content: "\e6b1"; }

.icon-hair-cross:before {
  content: "\e6b2"; }

.icon-hand:before {
  content: "\e6b3"; }

.icon-heart-outlined:before {
  content: "\e6b4"; }

.icon-heart:before {
  content: "\e6b5"; }

.icon-help-with-circle:before {
  content: "\e6b6"; }

.icon-help:before {
  content: "\e6b7"; }

.icon-home:before {
  content: "\e6b8"; }

.icon-hour-glass:before {
  content: "\e6b9"; }

.icon-image-inverted:before {
  content: "\e6ba"; }

.icon-image:before {
  content: "\e6bb"; }

.icon-images:before {
  content: "\e6bc"; }

.icon-inbox:before {
  content: "\e6bd"; }

.icon-infinity:before {
  content: "\e6be"; }

.icon-info-with-circle:before {
  content: "\e6bf"; }

.icon-info:before {
  content: "\e6c0"; }

.icon-key:before {
  content: "\e6c1"; }

.icon-keyboard:before {
  content: "\e6c2"; }

.icon-lab-flask:before {
  content: "\e6c3"; }

.icon-landline:before {
  content: "\e6c4"; }

.icon-language:before {
  content: "\e6c5"; }

.icon-laptop:before {
  content: "\e6c6"; }

.icon-leaf:before {
  content: "\e6c7"; }

.icon-level-down:before {
  content: "\e6c8"; }

.icon-level-up:before {
  content: "\e6c9"; }

.icon-lifebuoy:before {
  content: "\e6ca"; }

.icon-light-bulb:before {
  content: "\e6cb"; }

.icon-light-down:before {
  content: "\e6cc"; }

.icon-light-up:before {
  content: "\e6cd"; }

.icon-line-graph:before {
  content: "\e6ce"; }

.icon-link:before {
  content: "\e6cf"; }

.icon-list:before {
  content: "\e6d0"; }

.icon-location-pin:before {
  content: "\e6d1"; }

.icon-location:before {
  content: "\e6d2"; }

.icon-lock-open:before {
  content: "\e6d3"; }

.icon-lock:before {
  content: "\e6d4"; }

.icon-log-out:before {
  content: "\e6d5"; }

.icon-login:before {
  content: "\e6d6"; }

.icon-loop:before {
  content: "\e6d7"; }

.icon-magnet:before {
  content: "\e6d8"; }

.icon-magnifying-glass:before {
  content: "\e6d9"; }

.icon-mail:before {
  content: "\e6da"; }

.icon-man:before {
  content: "\e6db"; }

.icon-map:before {
  content: "\e6dc"; }

.icon-mask:before {
  content: "\e6dd"; }

.icon-medal:before {
  content: "\e6de"; }

.icon-megaphone:before {
  content: "\e6df"; }

.icon-menu:before {
  content: "\e6e0"; }

.icon-message:before {
  content: "\e6e1"; }

.icon-mic:before {
  content: "\e6e2"; }

.icon-minus:before {
  content: "\e6e3"; }

.icon-mobile:before {
  content: "\e6e4"; }

.icon-modern-mic:before {
  content: "\e6e5"; }

.icon-moon:before {
  content: "\e6e6"; }

.icon-mouse:before {
  content: "\e6e7"; }

.icon-music:before {
  content: "\e6e8"; }

.icon-network:before {
  content: "\e6e9"; }

.icon-new-message:before {
  content: "\e6ea"; }

.icon-new:before {
  content: "\e6eb"; }

.icon-news:before {
  content: "\e6ec"; }

.icon-note:before {
  content: "\e6ed"; }

.icon-notification:before {
  content: "\e6ee"; }

.icon-old-mobile:before {
  content: "\e6ef"; }

.icon-old-phone:before {
  content: "\e6f0"; }

.icon-palette:before {
  content: "\e6f1"; }

.icon-paper-plane:before {
  content: "\e6f2"; }

.icon-pencil:before {
  content: "\e6f3"; }

.icon-phone:before {
  content: "\e6f4"; }

.icon-pie-chart:before {
  content: "\e6f5"; }

.icon-pin:before {
  content: "\e6f6"; }

.icon-plus:before {
  content: "\e6f7"; }

.icon-popup:before {
  content: "\e6f8"; }

.icon-power-plug:before {
  content: "\e6f9"; }

.icon-price-ribbon:before {
  content: "\e6fa"; }

.icon-price-tag:before {
  content: "\e6fb"; }

.icon-print:before {
  content: "\e6fc"; }

.icon-progress-empty:before {
  content: "\e6fd"; }

.icon-progress-full:before {
  content: "\e6fe"; }

.icon-progress-one:before {
  content: "\e6ff"; }

.icon-progress-two:before {
  content: "\e700"; }

.icon-publish:before {
  content: "\e701"; }

.icon-quote:before {
  content: "\e702"; }

.icon-radio:before {
  content: "\e703"; }

.icon-reply-all:before {
  content: "\e704"; }

.icon-reply:before {
  content: "\e705"; }

.icon-retweet:before {
  content: "\e706"; }

.icon-rocket:before {
  content: "\e707"; }

.icon-round-brush:before {
  content: "\e708"; }

.icon-rss:before {
  content: "\e709"; }

.icon-ruler:before {
  content: "\e70a"; }

.icon-scissors:before {
  content: "\e70b"; }

.icon-share-alternitive:before {
  content: "\e70c"; }

.icon-share:before {
  content: "\e70d"; }

.icon-shareable:before {
  content: "\e70e"; }

.icon-shield:before {
  content: "\e70f"; }

.icon-shop:before {
  content: "\e710"; }

.icon-shopping-bag:before {
  content: "\e711"; }

.icon-shopping-basket:before {
  content: "\e712"; }

.icon-shopping-cart:before {
  content: "\e713"; }

.icon-shuffle:before {
  content: "\e714"; }

.icon-signal:before {
  content: "\e715"; }

.icon-sound-mix:before {
  content: "\e716"; }

.icon-sports-club:before {
  content: "\e717"; }

.icon-spreadsheet:before {
  content: "\e718"; }

.icon-squared-cross:before {
  content: "\e719"; }

.icon-squared-minus:before {
  content: "\e71a"; }

.icon-squared-plus:before {
  content: "\e71b"; }

.icon-star-outlined:before {
  content: "\e71c"; }

.icon-star:before {
  content: "\e71d"; }

.icon-stopwatch:before {
  content: "\e71e"; }

.icon-suitcase:before {
  content: "\e71f"; }

.icon-swap:before {
  content: "\e720"; }

.icon-sweden:before {
  content: "\e721"; }

.icon-switch:before {
  content: "\e722"; }

.icon-tablet:before {
  content: "\e723"; }

.icon-tag:before {
  content: "\e724"; }

.icon-text-document-inverted:before {
  content: "\e725"; }

.icon-text-document:before {
  content: "\e726"; }

.icon-text:before {
  content: "\e727"; }

.icon-thermometer:before {
  content: "\e728"; }

.icon-thumbs-down:before {
  content: "\e729"; }

.icon-thumbs-up:before {
  content: "\e72a"; }

.icon-thunder-cloud:before {
  content: "\e72b"; }

.icon-ticket:before {
  content: "\e72c"; }

.icon-time-slot:before {
  content: "\e72d"; }

.icon-tools:before {
  content: "\e72e"; }

.icon-traffic-cone:before {
  content: "\e72f"; }

.icon-tree:before {
  content: "\e730"; }

.icon-trophy:before {
  content: "\e731"; }

.icon-tv:before {
  content: "\e732"; }

.icon-typing:before {
  content: "\e733"; }

.icon-unread:before {
  content: "\e734"; }

.icon-untag:before {
  content: "\e735"; }

.icon-user:before {
  content: "\e736"; }

.icon-users:before {
  content: "\e737"; }

.icon-v-card:before {
  content: "\e738"; }

.icon-video:before {
  content: "\e739"; }

.icon-vinyl:before {
  content: "\e73a"; }

.icon-voicemail:before {
  content: "\e73b"; }

.icon-wallet:before {
  content: "\e73c"; }

.icon-water:before {
  content: "\e73d"; }

.icon-500px-with-circle:before {
  content: "\e73e"; }

.icon-500px:before {
  content: "\e73f"; }

.icon-basecamp:before {
  content: "\e740"; }

.icon-behance:before {
  content: "\e741"; }

.icon-creative-cloud:before {
  content: "\e742"; }

.icon-dropbox:before {
  content: "\e743"; }

.icon-evernote:before {
  content: "\e744"; }

.icon-flattr:before {
  content: "\e745"; }

.icon-foursquare:before {
  content: "\e746"; }

.icon-google-drive:before {
  content: "\e747"; }

.icon-google-hangouts:before {
  content: "\e748"; }

.icon-grooveshark:before {
  content: "\e749"; }

.icon-icloud:before {
  content: "\e74a"; }

.icon-mixi:before {
  content: "\e74b"; }

.icon-onedrive:before {
  content: "\e74c"; }

.icon-paypal:before {
  content: "\e74d"; }

.icon-picasa:before {
  content: "\e74e"; }

.icon-qq:before {
  content: "\e74f"; }

.icon-rdio-with-circle:before {
  content: "\e750"; }

.icon-renren:before {
  content: "\e751"; }

.icon-scribd:before {
  content: "\e752"; }

.icon-sina-weibo:before {
  content: "\e753"; }

.icon-skype-with-circle:before {
  content: "\e754"; }

.icon-skype:before {
  content: "\e755"; }

.icon-slideshare:before {
  content: "\e756"; }

.icon-smashing:before {
  content: "\e757"; }

.icon-soundcloud:before {
  content: "\e758"; }

.icon-spotify-with-circle:before {
  content: "\e759"; }

.icon-spotify:before {
  content: "\e75a"; }

.icon-swarm:before {
  content: "\e75b"; }

.icon-vine-with-circle:before {
  content: "\e75c"; }

.icon-vine:before {
  content: "\e75d"; }

.icon-vk-alternitive:before {
  content: "\e75e"; }

.icon-vk-with-circle:before {
  content: "\e75f"; }

.icon-vk:before {
  content: "\e760"; }

.icon-xing-with-circle:before {
  content: "\e761"; }

.icon-xing:before {
  content: "\e762"; }

.icon-yelp:before {
  content: "\e763"; }

.icon-dribbble-with-circle:before {
  content: "\e764"; }

.icon-dribbble:before {
  content: "\e765"; }

.icon-facebook-with-circle:before {
  content: "\e766"; }

.icon-facebook:before {
  content: "\e767"; }

.icon-flickr-with-circle:before {
  content: "\e768"; }

.icon-flickr:before {
  content: "\e769"; }

.icon-github-with-circle:before {
  content: "\e76a"; }

.icon-github:before {
  content: "\e76b"; }

.icon-google-with-circle:before {
  content: "\e76c"; }

.icon-google:before {
  content: "\e76d"; }

.icon-instagram-with-circle:before {
  content: "\e76e"; }

.icon-instagram:before {
  content: "\e76f"; }

.icon-lastfm-with-circle:before {
  content: "\e770"; }

.icon-lastfm:before {
  content: "\e771"; }

.icon-linkedin-with-circle:before {
  content: "\e772"; }

.icon-linkedin:before {
  content: "\e773"; }

.icon-pinterest-with-circle:before {
  content: "\e774"; }

.icon-pinterest:before {
  content: "\e775"; }

.icon-rdio:before {
  content: "\e776"; }

.icon-stumbleupon-with-circle:before {
  content: "\e777"; }

.icon-stumbleupon:before {
  content: "\e778"; }

.icon-tumblr-with-circle:before {
  content: "\e779"; }

.icon-tumblr:before {
  content: "\e77a"; }

.icon-twitter-with-circle:before {
  content: "\e77b"; }

.icon-twitter:before {
  content: "\e77c"; }

.icon-vimeo-with-circle:before {
  content: "\e77d"; }

.icon-vimeo:before {
  content: "\e77e"; }

.icon-youtube-with-circle:before {
  content: "\e77f"; }

.icon-youtube:before {
  content: "\e780"; }

.container {
  position: relative;
  max-width: 1280px;
  margin-left: 20px;
  margin-right: 20px;
  overflow: hidden; }
  @media only screen and (min-width: 1320px) {
    .container {
      margin-left: auto;
      margin-right: auto; } }

.container-fixed {
  position: relative;
  margin-right: auto;
  margin-left: auto; }
  @media only screen and (min-width: 768px) {
    .container-fixed {
      width: 728px; } }
  @media only screen and (min-width: 1024px) {
    .container-fixed {
      width: 984px; } }
  @media only screen and (min-width: 1280px) {
    .container-fixed {
      width: 1240px; } }

.row {
  margin-left: -10px;
  margin-right: -10px; }
  .row:before, .row:after {
    content: "";
    display: table;
    clear: both; }

.col {
  position: relative;
  float: left;
  min-height: 1px;
  width: 100%;
  padding-left: 10px;
  padding-right: 10px; }

.col-half {
  position: relative;
  float: left;
  min-height: 1px;
  width: 50%;
  padding-left: 10px;
  padding-right: 10px; }

.centered {
  float: none;
  margin-left: auto;
  margin-right: auto; }

@media only screen and (min-width: 768px) {
  .m-1 {
    width: 8.33333%; }

  .m-2 {
    width: 16.66667%; }

  .m-3 {
    width: 25%; }

  .m-4 {
    width: 33.33333%; }

  .m-5 {
    width: 41.66667%; }

  .m-6 {
    width: 50%; }

  .m-7 {
    width: 58.33333%; }

  .m-8 {
    width: 66.66667%; }

  .m-9 {
    width: 75%; }

  .m-10 {
    width: 83.33333%; }

  .m-11 {
    width: 91.66667%; }

  .m-12 {
    width: 100%; }

  .m-offset-1 {
    margin-left: 8.33333%; }

  .m-offset-2 {
    margin-left: 16.66667%; }

  .m-offset-3 {
    margin-left: 25%; }

  .m-offset-4 {
    margin-left: 33.33333%; }

  .m-offset-5 {
    margin-left: 41.66667%; }

  .m-offset-6 {
    margin-left: 50%; }

  .m-offset-7 {
    margin-left: 58.33333%; }

  .m-offset-8 {
    margin-left: 66.66667%; }

  .m-offset-9 {
    margin-left: 75%; }

  .m-offset-10 {
    margin-left: 83.33333%; }

  .m-offset-11 {
    margin-left: 91.66667%; }

  .m-push-1 {
    left: 8.33333%; }

  .m-push-2 {
    left: 16.66667%; }

  .m-push-3 {
    left: 25%; }

  .m-push-4 {
    left: 33.33333%; }

  .m-push-5 {
    left: 41.66667%; }

  .m-push-6 {
    left: 50%; }

  .m-push-7 {
    left: 58.33333%; }

  .m-push-8 {
    left: 66.66667%; }

  .m-push-9 {
    left: 75%; }

  .m-push-10 {
    left: 83.33333%; }

  .m-push-11 {
    left: 91.66667%; }

  .m-pull-1 {
    right: 8.33333%; }

  .m-pull-2 {
    right: 16.66667%; }

  .m-pull-3 {
    right: 25%; }

  .m-pull-4 {
    right: 33.33333%; }

  .m-pull-5 {
    right: 41.66667%; }

  .m-pull-6 {
    right: 50%; }

  .m-pull-7 {
    right: 58.33333%; }

  .m-pull-8 {
    right: 66.66667%; }

  .m-pull-9 {
    right: 75%; }

  .m-pull-10 {
    right: 83.33333%; }

  .m-pull-11 {
    right: 91.66667%; }

  .m-centered {
    float: none;
    margin-left: auto;
    margin-right: auto; }

  .m-uncentered {
    float: inherit;
    margin-left: 0;
    margin-right: 0; } }
@media only screen and (min-width: 1024px) {
  .l-1 {
    width: 8.33333%; }

  .l-2 {
    width: 16.66667%; }

  .l-3 {
    width: 25%; }

  .l-4 {
    width: 33.33333%; }

  .l-5 {
    width: 41.66667%; }

  .l-6 {
    width: 50%; }

  .l-7 {
    width: 58.33333%; }

  .l-8 {
    width: 66.66667%; }

  .l-9 {
    width: 75%; }

  .l-10 {
    width: 83.33333%; }

  .l-11 {
    width: 91.66667%; }

  .l-12 {
    width: 100%; }

  .l-offset-1 {
    margin-left: 8.33333%; }

  .l-offset-2 {
    margin-left: 16.66667%; }

  .l-offset-3 {
    margin-left: 25%; }

  .l-offset-4 {
    margin-left: 33.33333%; }

  .l-offset-5 {
    margin-left: 41.66667%; }

  .l-offset-6 {
    margin-left: 50%; }

  .l-offset-7 {
    margin-left: 58.33333%; }

  .l-offset-8 {
    margin-left: 66.66667%; }

  .l-offset-9 {
    margin-left: 75%; }

  .l-offset-10 {
    margin-left: 83.33333%; }

  .l-offset-11 {
    margin-left: 91.66667%; }

  .l-push-1 {
    left: 8.33333%; }

  .l-push-2 {
    left: 16.66667%; }

  .l-push-3 {
    left: 25%; }

  .l-push-4 {
    left: 33.33333%; }

  .l-push-5 {
    left: 41.66667%; }

  .l-push-6 {
    left: 50%; }

  .l-push-7 {
    left: 58.33333%; }

  .l-push-8 {
    left: 66.66667%; }

  .l-push-9 {
    left: 75%; }

  .l-push-10 {
    left: 83.33333%; }

  .l-push-11 {
    left: 91.66667%; }

  .l-pull-1 {
    right: 8.33333%; }

  .l-pull-2 {
    right: 16.66667%; }

  .l-pull-3 {
    right: 25%; }

  .l-pull-4 {
    right: 33.33333%; }

  .l-pull-5 {
    right: 41.66667%; }

  .l-pull-6 {
    right: 50%; }

  .l-pull-7 {
    right: 58.33333%; }

  .l-pull-8 {
    right: 66.66667%; }

  .l-pull-9 {
    right: 75%; }

  .l-pull-10 {
    right: 83.33333%; }

  .l-pull-11 {
    right: 91.66667%; }

  .l-centered {
    float: none;
    margin-left: auto;
    margin-right: auto; }

  .l-uncentered {
    float: inherit;
    margin-left: 0;
    margin-right: 0; } }
@media only screen and (min-width: 1280px) {
  .xl-1 {
    width: 8.33333%; }

  .xl-2 {
    width: 16.66667%; }

  .xl-3 {
    width: 25%; }

  .xl-4 {
    width: 33.33333%; }

  .xl-5 {
    width: 41.66667%; }

  .xl-6 {
    width: 50%; }

  .xl-7 {
    width: 58.33333%; }

  .xl-8 {
    width: 66.66667%; }

  .xl-9 {
    width: 75%; }

  .xl-10 {
    width: 83.33333%; }

  .xl-11 {
    width: 91.66667%; }

  .xl-12 {
    width: 100%; }

  .xl-offset-1 {
    margin-left: 8.33333%; }

  .xl-offset-2 {
    margin-left: 16.66667%; }

  .xl-offset-3 {
    margin-left: 25%; }

  .xl-offset-4 {
    margin-left: 33.33333%; }

  .xl-offset-5 {
    margin-left: 41.66667%; }

  .xl-offset-6 {
    margin-left: 50%; }

  .xl-offset-7 {
    margin-left: 58.33333%; }

  .xl-offset-8 {
    margin-left: 66.66667%; }

  .xl-offset-9 {
    margin-left: 75%; }

  .xl-offset-10 {
    margin-left: 83.33333%; }

  .xl-offset-11 {
    margin-left: 91.66667%; }

  .xl-push-1 {
    left: 8.33333%; }

  .xl-push-2 {
    left: 16.66667%; }

  .xl-push-3 {
    left: 25%; }

  .xl-push-4 {
    left: 33.33333%; }

  .xl-push-5 {
    left: 41.66667%; }

  .xl-push-6 {
    left: 50%; }

  .xl-push-7 {
    left: 58.33333%; }

  .xl-push-8 {
    left: 66.66667%; }

  .xl-push-9 {
    left: 75%; }

  .xl-push-10 {
    left: 83.33333%; }

  .xl-push-11 {
    left: 91.66667%; }

  .xl-pull-1 {
    right: 8.33333%; }

  .xl-pull-2 {
    right: 16.66667%; }

  .xl-pull-3 {
    right: 25%; }

  .xl-pull-4 {
    right: 33.33333%; }

  .xl-pull-5 {
    right: 41.66667%; }

  .xl-pull-6 {
    right: 50%; }

  .xl-pull-7 {
    right: 58.33333%; }

  .xl-pull-8 {
    right: 66.66667%; }

  .xl-pull-9 {
    right: 75%; }

  .xl-pull-10 {
    right: 83.33333%; }

  .xl-pull-11 {
    right: 91.66667%; }

  .xl-centered {
    float: none;
    margin-left: auto;
    margin-right: auto; }

  .xl-uncentered {
    float: inherit;
    margin-left: 0;
    margin-right: 0; } }
html,
button,
input,
select,
textarea {
  color: #333; }

::-moz-selection {
  color: #fff;
  background: #333;
  text-shadow: none; }

::selection, ::-webkit-selection {
  color: #fff;
  background: #333;
  text-shadow: none;
  color: red; }

img {
  vertical-align: middle;
  max-width: 100%;
  height: auto; }

* {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

html, body {
  width: 100%;
  height: 100%; }

html {
  font-size: 62.5%; }

body {
  background: #fff;
  color: #333;
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 400;
  font-size: 14px;
  font-size: 1.4rem;
  line-height: 1.4;
  transition: margin-left 400ms; }

input {
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 400;
  -webkit-appearance: none; }

input[type=checkbox] {
  -webkit-appearance: checkbox; }

a {
  color: #2ba6cb;
  text-decoration: none;
  transition: all 200ms ease; }

a:hover {
  color: #cf2430; }

a:active {
  opacity: .7; }

a[href^=tel] {
  text-decoration: none; }

strong {
  font-weight: 700; }

h1, h2, h3, h4 {
  color: inherit;
  font-weight: 700;
  line-height: 1.2;
  margin-bottom: 20px; }

h1 {
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 700; }

h2, h3, h4 {
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 400; }

h1 {
  font-size: 315.7%; }

h2 {
  font-size: 236.9%; }

h3 {
  font-size: 177.7%; }

h4 {
  font-size: 133.3%; }

small {
  font-size: 75%; }

p {
  margin-bottom: 20px; }

textarea {
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-size: 1.4rem; }

.googlemap img {
  max-width: none; }

ul,
ol,
dl {
  margin-bottom: 20px;
  list-style-position: outside; }

.container-no-mobile-padding {
  margin: 0; }
  @media only screen and (min-width: 768px) {
    .container-no-mobile-padding {
      margin: 0px auto; } }
  .container-no-mobile-padding .inner {
    padding: 20px !important; }
    @media only screen and (min-width: 768px) {
      .container-no-mobile-padding .inner {
        padding: 0; } }

#menu-button {
  display: block;
  position: absolute;
  width: 28px;
  height: 28px;
  top: 15px;
  left: 0pxl;
  overflow: hidden;
  z-index: 99;
  background: transparent url("images/icon-menu.svg") center center no-repeat;
  text-indent: -9999px;
  transition: none;
  cursor: pointer; }
  @media only screen and (min-width: 768px) {
    #menu-button {
      display: none; } }
  #menu-button.active {
    background-image: url("images/icon-close.svg"); }

.logo {
  float: right;
  padding-right: 0a; }
  @media only screen and (min-width: 768px) {
    .logo {
      padding-right: 0;
      float: none; } }
  .logo img {
    width: auto !important; }
    @media only screen and (min-width: 768px) {
      .logo img {
        width: 200px !important; } }

.banner .inner {
  margin: 10px 0; }

.dual .inner {
  margin: 0; }

.triple .inner {
  margin: 0; }

.fullwidth {
  color: #333333; }
  .fullwidth .inner {
    margin: 30px 0; }
  .fullwidth h2 {
    font-size: 40px;
    font-size: 4rem;
    font-weight: 300;
    margin: 0 0 15px 0; }
    @media only screen and (min-width: 768px) {
      .fullwidth h2 {
        font-size: 48px;
        font-size: 4.8rem; } }
  .fullwidth h3 {
    font-size: 18px;
    font-size: 1.8rem;
    font-weight: 300; }

.banner {
  text-align: center; }
  .banner a {
    margin: 0; }
    @media only screen and (min-width: 768px) {
      .banner a {
        margin: 0; } }
  .banner h2 {
    padding: 0; }
    @media only screen and (min-width: 768px) {
      .banner h2 {
        padding: 0; } }
  .banner h3 {
    padding: 0; }
    @media only screen and (min-width: 768px) {
      .banner h3 {
        padding: 0; } }
  @media only screen and (min-width: 768px) {
    .banner {
      text-align: left; } }

.fullwidth-centered {
  text-align: center; }
  .fullwidth-centered h2 {
    font-size: 36px;
    font-size: 3.6rem;
    margin: 30px 0 15px 0; }
    @media only screen and (min-width: 768px) {
      .fullwidth-centered h2 {
        margin: 0 0 15px 0; } }
  .fullwidth-centered h3 {
    color: #999999; }
  .fullwidth-centered .row {
    margin: 0 0 30px 0; }
    @media only screen and (min-width: 768px) {
      .fullwidth-centered .row {
        margin: 80px 0 80px 0; } }

.fullwidth-light {
  background-color: #f1f1f1; }

.fullwidth-dark {
  background-color: #222222;
  color: #ffffff; }
  .fullwidth-dark h2 {
    color: #ffffff; }
  .fullwidth-dark h3 {
    color: #ffffff; }

.fullwidth-red {
  background-color: #cf2430;
  color: #ffffff; }
  .fullwidth-red .btn-red {
    background-color: #cccccc;
    color: #cf2430;
    border: solid 1px #cccccc; }
  .fullwidth-red .btn-red:hover {
    background-color: #ffffff;
    color: #cf2430;
    border: solid 1px #cf2430; }

.fullwidth-grey {
  background-color: #333333;
  color: #ffffff; }
  .fullwidth-grey h2 {
    color: #ffffff; }
  .fullwidth-grey h3 {
    color: #ffffff; }

.top-menu {
  display: none;
  margin-bottom: 15px;
  height: 18px;
  font-size: 14px;
  font-size: 1.4rem; }
  @media only screen and (min-width: 768px) {
    .top-menu {
      display: block; } }
  .top-menu a {
    position: relative;
    margin-left: 35px; }
    .top-menu a i {
      position: absolute;
      top: 2px;
      left: -25px; }
  .top-menu a:hover {
    color: #cf2430; }

.top-menu ul {
  list-style: none;
  margin-bottom: 0; }
  @media only screen and (min-width: 768px) {
    .top-menu ul {
      float: right; } }
  .top-menu ul li {
    position: relative;
    display: block; }
    @media only screen and (min-width: 768px) {
      .top-menu ul li {
        float: left;
        margin-left: 23px; } }
    .top-menu ul li a {
      color: #999999; }
    .top-menu ul li [class^="icon-"], .top-menu ul li [class*=" icon-"], .top-menu ul li [class$="Icn"], .top-menu ul li [class$="Icon"] {
      font-size: 18px;
      font-size: 1.8rem;
      margin-right: 4px; }

.top-menu ul li ul {
  transition: all 200ms; }
  @media only screen and (min-width: 768px) {
    .top-menu ul li ul {
      display: none;
      position: absolute;
      left: -10px;
      width: 220px;
      padding: 8px 16px;
      background-color: #f5f5f5;
      -webkit-border-radius: 0.3em;
      -moz-border-radius: 0.3em;
      border-radius: 0.3em;
      z-index: 999; } }
  .top-menu ul li ul li {
    border-bottom: none;
    float: none; }
    @media only screen and (min-width: 768px) {
      .top-menu ul li ul li {
        display: block;
        margin-left: 0;
        font-size: 14px;
        font-size: 1.4rem;
        font-weight: 400; } }
    @media only screen and (min-width: 768px) {
      .top-menu ul li ul li a {
        padding: 5px 0;
        margin-left: 0; } }

@media only screen and (min-width: 768px) {
  .top-menu ul li:hover ul {
    display: block; } }

.main-menu {
  display: block;
  position: fixed;
  top: 0;
  left: -260px;
  width: 260px;
  height: 100%;
  z-index: 99;
  transition: left 400ms;
  font-size: 15px;
  font-size: 1.5rem;
  border-right: 1px solid rgba(51, 51, 51, 0.1);
  line-height: 1; }
  @media only screen and (min-width: 768px) {
    .main-menu {
      margin-top: 10px;
      line-height: 34px;
      position: relative;
      top: 0;
      left: 0;
      float: right;
      width: auto;
      height: auto;
      border-right: none; } }
  .main-menu i {
    color: #cccccc; }
  .main-menu li {
    margin: 10px 0 10px 0; }
  .main-menu a:hover {
    color: #cf2430; }
  .main-menu .heading {
    border-bottom: solid 1px #ffffff;
    border-top: solid 1px #ffffff;
    font-weight: 600; }
  .main-menu .heading:first-child {
    border-top: none; }
  .main-menu .heading:last-child {
    border-bottom: none; }
  .main-menu .no-divider {
    border-top: none; }

.main-menu.active {
  left: 0;
  overflow: auto; }

.main-menu ul {
  list-style: none;
  margin-bottom: 0;
  margin-top: 0; }
  @media only screen and (min-width: 768px) {
    .main-menu ul {
      margin: 0; } }
  .main-menu ul li {
    position: relative;
    border-bottom: 1px solid rgba(51, 51, 51, 0.1);
    padding-bottom: 10px;
    padding-left: 10px;
    font-size: 15px;
    font-size: 1.5rem; }
    @media only screen and (min-width: 768px) {
      .main-menu ul li {
        display: block;
        float: left;
        margin-left: 39px;
        border-bottom: none;
        padding-left: 0;
        font-size: 18px;
        font-size: 1.8rem; } }
    .main-menu ul li a {
      color: #333333; }

.main-menu i {
  display: none; }

.main-menu ul li ul.singlemenu {
  margin: 0; }
  .main-menu ul li ul.singlemenu li {
    margin: 10px 0px 0 20px;
    border-top: none;
    border-bottom: none;
    padding-bottom: 0; }

.main-menu ul li .fullmenu {
  margin: 0; }
  .main-menu ul li .fullmenu li {
    margin: 10px 0px 0 20px;
    border-top: none;
    border-bottom: none;
    padding-bottom: 0; }

.main-menu ul li .fullmenu {
  margin: 0;
  transition: all 200ms;
  width: 100%; }
  @media only screen and (min-width: 768px) {
  .main-menu ul li .fullmenu {
      padding: 8px 16px 8px 16px;
      margin: 0;
      background-color: #f5f5f5;
      -webkit-border-radius: 0.3em;
      -moz-border-radius: 0.3em;
      border-radius: 0.3em;
      z-index: 999; } }
  .main-menu ul li .fullmenu li {
    border-bottom: none;
    float: none; }
    @media only screen and (min-width: 768px) {
      .main-menu ul li .fullmenu li {
        display: block;
        margin: 0;
        font-size: 14px;
        font-size: 1.4rem;
        font-weight: 400;
        line-height: 24px; } }

@media only screen and (min-width: 768px) {
  .main-menu {
    font-size: 18px;
    font-size: 1.8rem; }
    .main-menu li {
      font-size: 18px;
      font-size: 1.8rem; }

  .main-menu i {
    display: inline; }

  .main-menu ul li ul.singlemenu {
    margin: 0;
    transition: all 200ms; } }
  @media only screen and (min-width: 768px) and (min-width: 768px) {
    .main-menu ul li ul.singlemenu {
      display: none;
      position: absolute;
      left: -10px;
      width: 220px;
      padding: 8px 16px;
      margin: 0;
      background-color: #f5f5f5;
      -webkit-border-radius: 0.3em;
      -moz-border-radius: 0.3em;
      border-radius: 0.3em;
      z-index: 999; } }
@media only screen and (min-width: 768px) {
    .main-menu ul li ul.singlemenu li {
      border-bottom: none;
      float: none; } }
    @media only screen and (min-width: 768px) and (min-width: 768px) {
      .main-menu ul li ul.singlemenu li {
        display: block;
        margin: 0;
        font-size: 14px;
        font-size: 1.4rem;
        font-weight: 400;
        line-height: 24px; } }
@media only screen and (min-width: 768px) {
  .main-menu ul li:hover ul.singlemenu {
    display: block; } }

@media only screen and (min-width: 768px) {
  .main-menu ul li:hover div.fullmenu {
    display: block; } }

.main-menu div.fullmenu ul {
  display: block; }

body.pushed-right {
  margin-left: 260px;
  overflow: hidden; }

#suppliermap {
  margin-bottom: 40px; }

.supplier {
  font-size: 14px;
  font-size: 1.4rem;
  color: #333333;
  border-bottom: solid 1px #f1f1f1;
  margin-bottom: 20px;
  padding-bottom: 20px; }
  .supplier .number {
    font-size: 18px;
    font-size: 1.8rem;
    font-weight: 600; }
  .supplier img {
    width: 70% !important;
    margin-bottom: 0 !important;
    padding-top: 20px; }
    @media only screen and (min-width: 768px) {
      .supplier img {
        padding-top: 0; } }
  .supplier .col1 {
    padding-top: 20px; }
    @media only screen and (min-width: 768px) {
      .supplier .col1 {
        padding-top: 0; } }
  .supplier .col2 {
    padding-top: 20px; }
    @media only screen and (min-width: 768px) {
      .supplier .col2 {
        padding-top: 0; } }
  .supplier .col3 {
    padding-top: 20px; }
    @media only screen and (min-width: 768px) {
      .supplier .col3 {
        padding-top: 0; } }
  .supplier span {
    color: #bbbbbb;
    padding-right: 5px; }

.sub-menu li {
  width: 100%;
  display: block; }
  @media only screen and (min-width: 768px) {
    .sub-menu li {
      width: auto; } }
  .sub-menu li a {
    width: 100%; }

.sub-menu ul {
  list-style: none;
  margin: 20px 0;
  text-align: center;
  font-size: 0px;
  font-size: 0rem; }
  @media only screen and (min-width: 768px) {
    .sub-menu ul {
      margin: 80px 0; } }
  .sub-menu ul li {
    display: inline-block;
    border-right: solid 1px #ffffff; }
    .sub-menu ul li a {
      font-size: 14px;
      font-size: 1.4rem;
      background-color: #f1f1f1;
      color: #333333;
      padding: 15px 20px;
      display: inline-block;
      border: none; }
    .sub-menu ul li .current {
      background-color: #cf2430;
      color: #ffffff; }
    .sub-menu ul li:first-child a {
      -webkit-border-top-left-radius: 0.3em;
      -moz-border-radius-topleft: 0.3em;
      border-radius: 0.3em 0 0 0.3em;
      -webkit-border-bottom-left-radius: 0.3em;
      -moz-border-radius-bottomleft: 0.3em; }
    .sub-menu ul li:last-child {
      border-right: none; }
      .sub-menu ul li:last-child a {
        -webkit-border-top-right-radius: 0.3em;
        -moz-border-radius-topright: 0.3em;
        border-radius: 0 0.3em 0.3em 0;
        -webkit-border-bottom-right-radius: 0.3em;
        -moz-border-radius-bottomright: 0.3em; }

.sub-menu-top ul {
  margin-top: 0; }

header {
  padding-top: 15px;
  padding-bottom: 40px;
  position: relative; }
  @media only screen and (min-width: 768px) {
    header {
      padding-bottom: 40px; } }

.page-title h1 {
  font-size: 35px;
  font-size: 3.5rem;
  font-weight: 300;
  margin: 0 0 20px 0;
  text-align: center; }
  @media only screen and (min-width: 768px) {
    .page-title h1 {
      font-size: 48px;
      font-size: 4.8rem;
      margin: 0 0 80px 0; } }

.page-title-with-sub h1 {
  font-size: 48px;
  font-size: 4.8rem;
  font-weight: 300;
  margin: 0 0 20px 0;
  text-align: center; }
.page-title-with-sub h2 {
  color: #999999;
  font-size: 18px;
  font-size: 1.8rem;
  margin-bottom: 50px;
  text-align: center; }

.intro-banner h1 {
  font-size: 30px;
  font-size: 3rem;
  font-weight: 300;
  margin: 0 0 60px 0;
  text-align: center;
  padding: 0 20px; }
  @media only screen and (min-width: 768px) {
    .intro-banner h1 {
      font-size: 48px;
      font-size: 4.8rem;
      padding: 0;
      margin: 40px 0 40px 0; } }

.intro-banner-image img {
  width: 100%; }
.intro-banner-image h1 {
  background-color: #222222;
  font-size: 30px;
  font-size: 3rem;
  font-weight: 300;
  text-align: center;
  color: #ffffff;
  margin-bottom: 0;
  padding: 20px 25px 30px 25px; }
  @media only screen and (min-width: 768px) {
    .intro-banner-image h1 {
      font-size: 30px;
      font-size: 3rem;
      margin-bottom: 0; } }

.dual {
  margin: 0 0 0 0;
  text-align: center; }
  @media only screen and (min-width: 768px) {
    .dual {
      margin: 80px 0 0 0; } }
  .dual .inner {
    padding: 0 0 30px 0; }
    @media only screen and (min-width: 768px) {
      .dual .inner img {
        padding: 0 0 15px 0; } }
    @media only screen and (min-width: 768px) {
      .dual .inner {
        margin: 40px 9px 0 9px;
        padding: 9px 0 40px 0; } }
    .dual .inner h2 {
      font-size: 36px;
      font-size: 3.6rem;
      font-weight: 300; }
      @media only screen and (min-width: 768px) {
        .dual .inner h2 {
          font-size: 36px;
          font-size: 3.6rem; } }
    .dual .inner h3 {
      font-size: 18px;
      font-size: 1.8rem;
      font-weight: 300; }
      .dual .inner h3 a {
        color: #333333; }
      .dual .inner h3 a:hover {
        color: #cf2430; }

.dual-light {
  background-color: #f7f7f7; }

.dual-dark {
  background-color: #222222; }
  .dual-dark h2 {
    color: #ffffff; }
  .dual-dark h3 {
    color: #ffffff; }

.dual-top {
  margin-top: 0; }
  @media only screen and (min-width: 768px) {
    .dual-top .inner {
      margin: 0 9px 0 9px;
      padding: 9px 0 40px 0; } }

.dual-small-top {
  margin-top: 0; }
  @media only screen and (min-width: 768px) {
    .dual-small-top .inner {
      margin: 20px 9px 0 9px;
      padding: 9px 0 40px 0; } }

.triple {
  margin: 0 0 0 0;
  text-align: center; }
  @media only screen and (min-width: 768px) {
    .triple {
      margin: 40px 0 40px 0; } }
  .triple .inner {
    padding: 0 0 30px 0; }
    @media only screen and (min-width: 768px) {
      .triple .inner {
        padding: 0px 0 40px 0; } }
    .triple .inner h2 {
      font-size: 26px;
      font-size: 2.6rem;
      font-weight: 300;
      margin-top: 20px; }
      @media only screen and (min-width: 768px) {
        .triple .inner h2 {
          font-size: 26px;
          font-size: 2.6rem; } }
    .triple .inner h3 {
      font-size: 18px;
      font-size: 1.8rem;
      font-weight: 300; }

.triple-light {
  background-color: #f7f7f7; }

.triple-dark {
  background-color: #222222; }
  .triple-dark h2 {
    color: #ffffff; }
  .triple-dark h3 {
    color: #ffffff; }

.triple-top {
  margin-top: 0; }

.quicklinks {
  margin: 40px auto 0 auto;
  text-align: center; }
  @media only screen and (min-width: 768px) {
    .quicklinks {
      margin: 80px auto; } }
  .quicklinks span {
    font-size: 60px;
    font-size: 6rem;
    color: #cf2430; }
  .quicklinks a {
    font-size: 24px;
    font-size: 2.4rem;
    font-weight: 300;
    color: #333333; }
  .quicklinks .col {
    margin-bottom: 40px; }
    @media only screen and (min-width: 768px) {
      .quicklinks .col {
        margin-bottom: 0; } }

@media only screen and (min-width: 768px) {
  .quicklinks-account {
    margin: 30px 0 30px 0; } }
.quicklinks-account span {
  font-size: 40px;
  font-size: 4rem; }
.quicklinks-account a {
  font-size: 18px;
  font-size: 1.8rem; }

.input {
  padding: 16px;
  border: none;
  -webkit-border-radius: 0.3em;
  -moz-border-radius: 0.3em;
  border-radius: 0.3em; }
  @media only screen and (min-width: 768px) {
    .input {
      margin-right: 15px; } }

.input-dual {
  width: 100%;
  border: solid 1px #f1f1f1;
  margin-bottom: 10px; }
  @media only screen and (min-width: 768px) {
    .input-dual {
      width: 300px; } }

.input-dual:focus {
  border: solid 1px #dddddd; }

.input-single {
  width: 100%;
  border: solid 1px #f1f1f1; }
  @media only screen and (min-width: 768px) {
    .input-single {
      width: 500px; } }

.input-dark {
  background-color: #333333;
  color: #ffffff; }

.input-full {
  width: 100%; }

.input-icon {
  position: relative; }
  .input-icon span {
    position: absolute;
    margin: 18px 0 0 17px;
    color: #666666;
    top: 0;
    left: 0; }
  .input-icon input {
    padding-left: 38px;
    top: 0;
    left: 0; }
    @media only screen and (min-width: 768px) {
      .input-icon input {
        position: absolute; } }

.inlineform-form {
  margin-top: 25px;
  display: block; }
  @media only screen and (min-width: 768px) {
    .inlineform-form {
      margin-top: 40px; } }
  @media only screen and (min-width: 768px) {
    .inlineform-form .inner {
      display: inline-block;
      height: 60px;
      vertical-align: top;
      width: 516px;
      margin: 0; } }
  @media only screen and (min-width: 768px) {
    .inlineform-form .newsletter .btn {
      display: inline-block; } }
  .inlineform-form .btn {
    width: 100%; }
    @media only screen and (min-width: 768px) {
      .inlineform-form .btn {
        width: auto; } }
  .inlineform-form .logininner {
    padding: 0; }

.newsletter .input {
  margin-bottom: 10px; }
  @media only screen and (min-width: 768px) {
    .newsletter .input {
      margin-bottom: 0; } }
@media only screen and (min-width: 768px) {
  .newsletter .input-icon {
    display: inline-block;
    height: 60px;
    vertical-align: top;
    width: 516px;
    margin: 0; } }
.newsletter .input-icon .btn {
  display: inline-block; }

.search-form {
  margin-bottom: 25px; }

.content-form {
  margin-top: 70px;
  margin-bottom: 70px; }
  .content-form .section-title {
    font-size: 14px;
    font-size: 1.4rem;
    font-weight: 600;
    margin-bottom: 20px;
    margin-top: 10px; }

.content-form-input {
  padding: 16px;
  border: solid 1px #f1f1f1;
  background-color: #f1f1f1;
  -webkit-border-radius: 0.3em;
  -moz-border-radius: 0.3em;
  border-radius: 0.3em;
  width: 100%;
  margin-bottom: 18px;
  outline-width: 0;
  font-size: 13px;
  font-size: 1.3rem; }

.content-form-select {
  padding: 16px;
  border: solid 1px #f1f1f1;
  -webkit-border-radius: 0.3em;
  -moz-border-radius: 0.3em;
  border-radius: 0.3em;
  width: 100%;
  margin-bottom: 18px;
  font-size: 13px;
  font-size: 1.3rem;
  outline-width: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  background: url("dropdown_arrow.png") no-repeat;
  background-position: right 20px center;
  background-color: #f1f1f1;
  text-indent: 0.01px;
  text-overflow: ""; }

.content-form-textarea {
  padding: 16px;
  border: solid 1px #f1f1f1;
  background-color: #f1f1f1;
  -webkit-border-radius: 0.3em;
  -moz-border-radius: 0.3em;
  border-radius: 0.3em;
  font-size: 13px;
  font-size: 1.3rem;
  width: 100%;
  margin-bottom: 18px;
  outline-width: 0; }

.content-form-input:focus, .content-form-select:focus {
  background-color: #ffffff; }

.content-form-checkarea {
  margin: 0 0 20px 0; }

.content-form-file {
  position: absolute;
  filter: alpha(opacity=0);
  opacity: 0;
  cursor: pointer; }

.content-form-file,
.content-form-file + label {
  padding: 16px;
  border: solid 1px #f1f1f1;
  background-color: #f1f1f1;
  -webkit-border-radius: 0.3em;
  -moz-border-radius: 0.3em;
  border-radius: 0.3em;
  width: 100%;
  margin-bottom: 18px;
  outline-width: 0;
  display: block; }

.content-form-file + label {
  text-align: left;
  left: 7.35em;
  top: 0.5em;
  font-size: 13px;
  font-size: 1.3rem;
  color: #999999;
  cursor: pointer; }

.content-form-top {
  margin-top: 00px; }

.content-form-bottom {
  margin-bottom: 0; }

.content-form-inline {
  margin-bottom: 40px; }
  @media only screen and (min-width: 768px) {
    .content-form-inline {
      margin-bottom: 70px; } }
  .content-form-inline label {
    font-weight: 600;
    display: block; }

.inline-social {
  font-size: 24px;
  font-size: 2.4rem;
  font-weight: 300;
  color: #ffffff;
  margin: 40px 0 0 0;
  vertical-align: top; }
  @media only screen and (min-width: 768px) {
    .inline-social {
      margin: 80px 0 0 0; } }
  .inline-social span {
    display: inline-block;
    vertical-align: top; }
  .inline-social a {
    font-size: 36px;
    font-size: 3.6rem;
    color: #ffffff;
    margin: 0 0 0 30px;
    display: inline-block;
    height: 50px;
    vertical-align: top; }

footer {
  margin: 20px 20px; }
  @media only screen and (min-width: 768px) {
    footer {
      margin: 80px 0; } }
  footer a {
    color: #ffffff; }
  footer li {
    margin: 0 0 8px 0; }
  footer .sublink {
    color: #999999; }
  footer .subtitle {
    margin: 18px 0 8px 0; }

.footer-images {
  text-align: center;
  margin: 30px 0; }

.vertical-icons span {
  color: #666666;
  margin: 0 8px 0 0; }
.vertical-icons .sublink {
  margin-left: 22px; }

h2.text-medium {
  font-size: 36px;
  font-size: 3.6rem;
  margin: 0 0 15px 0; }

.product-feature {
  border: solid 1px #f1f1f1;
  color: #333333;
  margin-bottom: 23px; }
  .product-feature img {
    width: 100%; }
  .product-feature h2 {
    font-size: 36px;
    font-size: 3.6rem;
    font-weight: 300;
    margin: 0 0 15px 0; }
  .product-feature h3 {
    font-size: 18px;
    font-size: 1.8rem;
    font-weight: 300; }

.product-list {
  margin: 70px 0 0 0;
  padding: 0 0 50px 0; }
  .product-list img {
    width: 100%; }
  .product-list a {
    color: #333333; }
  .product-list a:hover {
    color: #cf2430; }

.product-list-top {
  margin-top: 0; }

.product-list-bottom {
  margin-bottom: 0;
  padding-bottom: 0; }

.product-item {
  margin-bottom: 30px;
  color: #333333; }
  .product-item h2 {
    font-size: 24px;
    font-size: 2.4rem;
    font-weight: 400;
    margin-top: 20px; }
    @media only screen and (min-width: 768px) {
      .product-item h2 {
        margin-top: 0; } }
  .product-item h3 {
    font-size: 14px;
    font-size: 1.4rem;
    font-weight: 300; }

.product-item-main {
  clear: both; }

.row .product-item:nth-child(odd) {
  clear: both; }

.paging {
  clear: both;
  border-top: solid 1px #f1f1f1;
  margin: 0 0 0 0;
  padding: 40px 0 0 0; }
  @media only screen and (min-width: 768px) {
    .paging {
      padding: 80px 0; } }
  .paging .text-left {
    margin-top: 7px; }
    .paging .text-left span {
      color: #cccccc; }
  .paging .text-right {
    margin-top: 7px; }
    .paging .text-right span {
      color: #cccccc; }
  .paging .prev, .paging .next {
    display: none; }
    @media only screen and (min-width: 768px) {
      .paging .prev, .paging .next {
        display: block; } }

.paging-pages {
  margin: 0px auto;
  text-align: center; }
  .paging-pages li {
    display: inline-block;
    margin-bottom: 10px; }
  .paging-pages .btn {
    margin: 0 4px 0 4px;
    padding: 9px 16px; }

.top-divider {
  border-top: solid 1px #f1f1f1; }

.header-content {
  font-size: 18px;
  font-size: 1.8rem;
  color: #333333;
  font-weight: 300;
  margin-top: 20px; }
  @media only screen and (min-width: 768px) {
    .header-content {
      margin-top: 0; } }
  .header-content strong {
    font-weight: 600; }
  .header-content ul {
    margin-top: 20px; }
  .header-content li {
    margin-left: 18px;
    text-indent: -8px; }
    .header-content li:before {
      content: "\2022";
      display: inline-block;
      width: 8px; }

.fancybox ul {
  margin-top: 20px; }
.fancybox li {
  margin-left: 18px;
  text-indent: -8px; }
  .fancybox li:before {
    content: "\2022";
    display: inline-block;
    width: 8px; }

.content-block {
  color: #333333;
  margin-bottom: 20px; }
  @media only screen and (min-width: 768px) {
    .content-block {
      margin-bottom: 80px; } }
  .content-block p {
    font-size: 18px;
    font-size: 1.8rem;
    font-weight: 300; }
    .content-block p strong {
      font-weight: 600; }
    .content-block p a {
      text-decoration: underline;
      color: #333333; }
    .content-block p a:hover {
      color: #cf2430; }
  .content-block img {
    margin-bottom: 40px;
    width: 100%; }
  .content-block div img {
    margin-bottom: 0; }
  .content-block h1 {
    font-size: 50px;
    font-size: 5rem;
    font-weight: 400; }
  .content-block h2 {
    font-size: 40px;
    font-size: 4rem;
    font-weight: 400; }
  .content-block h3 {
    font-size: 30px;
    font-size: 3rem;
    font-weight: 400; }
  .content-block h4 {
    font-size: 20px;
    font-size: 2rem;
    font-weight: 400; }
  .content-block ul {
    font-size: 18px;
    font-size: 1.8rem;
    color: #333333;
    list-style-type: disc;
    padding-left: 20px;
    font-weight: 300; }
  .content-block ol {
    font-size: 18px;
    font-size: 1.8rem;
    color: #333333;
    list-style-type: decimal;
    padding-left: 20px;
    font-weight: 300; }
  .content-block ul li, .content-block ol li {
    margin: 10px 0; }

.account-area h4 {
  font-size: 26px;
  font-size: 2.6rem; }

.account-area-list .top-divider {
  padding-top: 40px;
  margin-bottom: 40px; }

.content-mainheader {
  font-size: 36px;
  font-size: 3.6rem;
  margin: 70px 0 70px 0;
  font-weight: 300;
  text-align: left; }

h3.content-header, h2.content-header {
  font-size: 24px;
  font-size: 2.4rem;
  margin: 50px 0 20px 0;
  font-weight: 400; }

h3.content-header-top, h2.content-header-top {
  margin-top: 0; }

.content-subheader {
  font-size: 18px;
  font-size: 1.8rem;
  font-weight: 600;
  margin-bottom: 0; }

.content-top h2 {
  font-size: 36px;
  font-size: 3.6rem;
  font-weight: 300;
  margin-bottom: 20px; }
  .content-top h2 a {
    color: #333333; }
  .content-top h2 a:hover {
    color: #cf2430; }
.content-top h3 {
  color: #999999;
  font-size: 14px;
  font-size: 1.4rem;
  margin-bottom: 20px; }
  .content-top h3 span {
    margin-right: 5px; }

.margin-bottom-20 {
  margin-bottom: 20px; }

.vacancy {
  margin-top: 40px; }
  @media only screen and (min-width: 768px) {
    .vacancy {
      margin-top: 80px; } }
  .vacancy h3 {
    font-size: 24px;
    font-size: 2.4rem;
    margin-bottom: 35px; }
  .vacancy .btn {
    margin-top: 20px; }

.teammember {
  margin-bottom: 30px;
  padding-bottom: 15px;
  border-bottom: 1px solid #f1f1f1; }
  @media only screen and (min-width: 768px) {
    .teammember {
      padding-bottom: 30px; } }
  .teammember h2 {
    font-size: 30px;
    font-size: 3rem;
    font-weight: 300;
    margin-bottom: 10px;
    margin-top: 20px; }
    @media only screen and (min-width: 768px) {
      .teammember h2 {
        margin-top: 0;
        font-size: 24px;
        font-size: 2.4rem; } }
  .teammember h3 {
    color: #999999;
    font-size: 18px;
    font-size: 1.8rem;
    margin-bottom: 20px; }
    @media only screen and (min-width: 768px) {
      .teammember h3 {
        font-size: 14px;
        font-size: 1.4rem; } }
    .teammember h3 span {
      margin-right: 5px; }
  .teammember p {
    font-size: 16px;
    font-size: 1.6rem;
    font-weight: 300;
    color: #333333; }
  .teammember:last-of-type {
    border-bottom: none; }

.testimonial {
  margin-bottom: 30px;
  padding-bottom: 30px;
  border-bottom: 1px solid #f1f1f1; }
  .testimonial p {
    font-size: 18px;
    font-size: 1.8rem;
    color: #333333; }
  .testimonial h3 {
    font-size: 14px;
    font-size: 1.4rem;
    color: #999999;
    margin: 0; }
  .testimonial:last-of-type {
    border-bottom: none; }
  .testimonial img {
    padding-bottom: 20px; }
    @media only screen and (min-width: 768px) {
      .testimonial img {
        padding-bottom: 0; } }
  .testimonial ul {
    font-size: 18px;
    font-size: 1.8rem;
    color: #333333;
    list-style-type: disc;
    padding-left: 20px;
    font-weight: 300; }
  .testimonial li {
    padding-left: 4px; }

.header-block {
  color: #333333;
  margin-bottom: 20px;
  text-align: center; }
  @media only screen and (min-width: 768px) {
    .header-block {
      margin-bottom: 80px; } }
  .header-block h1 {
    font-size: 35px;
    font-size: 3.5rem;
    margin: 0;
    font-weight: 300; }
    @media only screen and (min-width: 768px) {
      .header-block h1 {
        font-size: 48px;
        font-size: 4.8rem; } }
  .header-block h2 {
    font-size: 36px;
    font-size: 3.6rem;
    margin: 0;
    font-weight: 300; }

.header-block-narrow {
  margin-bottom: 20px; }
  @media only screen and (min-width: 768px) {
    .header-block-narrow {
      margin-bottom: 40px; } }

.technical-block {
  color: #333333; }
  .technical-block h2 {
    font-size: 36px;
    font-size: 3.6rem;
    text-align: center;
    font-weight: 300;
    margin: 0 0 70px 0; }
  .technical-block h3 {
    font-size: 24px;
    font-size: 2.4rem;
    font-weight: 400; }
  .technical-block p {
    font-size: 18px;
    font-size: 1.8rem;
    font-weight: 300; }
    .technical-block p strong {
      font-weight: 600; }

.gallery-block {
  color: #333333;
  margin-bottom: 80px; }
  .gallery-block h2 {
    font-size: 36px;
    font-size: 3.6rem;
    text-align: center;
    font-weight: 300;
    margin: 0 0 35px 0; }
  .gallery-block h3 {
    font-size: 24px;
    font-size: 2.4rem;
    font-weight: 400; }
  .gallery-block p {
    font-size: 18px;
    font-size: 1.8rem;
    font-weight: 300; }

.gallery-image {
  border: solid 1px #f1f1f1;
  position: relative;
  margin-bottom: 20px; }
  .gallery-image span {
    position: absolute;
    top: 8px;
    right: 8px;
    font-size: 20px;
    font-size: 2rem;
    color: #bbbbbb; }
  .gallery-image img {
    width: 100%; }

.downloads-block {
  border-bottom: solid 1px #f1f1f1;
  margin-bottom: 35px; }
  .downloads-block:last-child {
    border-bottom: none; }
  .downloads-block h2 {
    font-size: 18px;
    font-size: 1.8rem;
    color: #333333; }

.downloads-container {
  margin-bottom: 50px;
  margin-top: 20px; }
  @media only screen and (min-width: 768px) {
    .downloads-container {
      margin-bottom: 20px;
      margin-top: 50px; } }
  .downloads-container .downloads-item {
    margin-bottom: 20px; }
    .downloads-container .downloads-item img {
      width: 100%;
      min-width: 83px;
      border: solid 1px #f1f1f1;
      padding-bottom: 0;
      margin-bottom: 0;
      /*display:none;*/ }
      @media only screen and (min-width: 768px) {
        .downloads-container .downloads-item img {
          display: inline; } }
    .downloads-container .downloads-item h3 {
      margin-bottom: 10px;
      font-size: 18px;
      font-size: 1.8rem;
      margin-top: 20px; }
      @media only screen and (min-width: 768px) {
        .downloads-container .downloads-item h3 {
          margin-top: 0; } }
      .downloads-container .downloads-item h3 a {
        font-weight: 400;
        text-decoration: underline;
        color: #333333; }

.downloads-container-top {
  margin-top: 0; }

.sidenav {
  margin-top: 20px; }
  .sidenav h3 {
    display: block;
    background-color: #cf2430;
    padding: 12px 15px;
    color: #ffffff;
    margin-bottom: 20px; }
    .sidenav h3 i {
      float: right;
      margin-top: 2px; }
  .sidenav ul {
    display: none; }
  .sidenav li {
    display: block;
    background-color: #efefef;
    padding: 12px 15px;
    font-weight: 600;
    font-size: 18px;
    font-size: 1.8rem; }
    .sidenav li span {
      text-decoration: underline; }
    .sidenav li a {
      font-weight: 500;
      color: #333333;
      text-decoration: none; }
  .sidenav .section-main {
    border-bottom: solid 1px #f1f1f1;
    padding: 12px 15px; }
    .sidenav .section-main a {
      font-weight: 600; }
  .sidenav .section-sub {
    border-bottom: solid 1px #f1f1f1;
    padding: 12px 15px 12px 35px; }

.sticky {
  position: fixed;
  width: 190px;
  top: 10px; }

.categorydropdown {
  cursor: pointer; }

@media only screen and (min-width: 768px) {
  .sidenav {
    margin-top: 0;
    margin-bottom: 20px;
    padding-bottom: 20px;
    background-color: #ffffff; }
    .sidenav h2 {
      color: #333333;
      font-size: 24px;
      font-size: 2.4rem;
      font-weight: 400;
      margin-bottom: 20px; }
    .sidenav h3 {
      background-color: #ffffff;
      padding: 0;
      color: #333333;
      font-size: 18px;
      font-size: 1.8rem;
      font-weight: 400;
      margin-bottom: 20px; }
      .sidenav h3 i {
        display: none; }
    .sidenav a {
      color: #666666;
      font-weight: 300; }
    .sidenav a:hover {
      color: #cf2430; }
    .sidenav ul {
      display: block; }
    .sidenav li {
      display: block;
      background-color: #ffffff;
      padding: 0;
      margin-bottom: 6px;
      font-weight: 500;
      font-size: 14px;
      font-size: 1.4rem; }
    .sidenav .section-main {
      border-bottom: solid 1px #f1f1f1;
      margin: 0 0 9px 0;
      padding: 0 0 4px 0; }
      .sidenav .section-main a {
        font-weight: 600; }
    .sidenav .section-sub {
      border-bottom: solid 1px #f1f1f1;
      margin: 0 0 9px 20px;
      padding: 0 0 4px 0; }
    .sidenav .current {
      font-weight: 600;
      color: #cf2430; } }
.twitterfeed {
  padding-bottom: 0; }
  .twitterfeed ul li {
    margin-bottom: 15px; }
    .twitterfeed ul li a {
      text-decoration: underline; }
  .twitterfeed .date {
    color: #999999;
    text-decoration: none; }

.hidden {
  display: none; }

.history .item {
  border-bottom: solid 1px #f1f1f1;
  margin: 0 0 20px 0;
  padding: 0 0 20px 0; }
  .history .item a {
    text-decoration: underline;
    color: #333333; }

.faqs-list {
  margin-bottom: 40px; }
  .faqs-list h3 {
    color: #999999;
    font-size: 22px;
    font-size: 2.2rem;
    margin-bottom: 20px;
    font-weight: 400;
    border-bottom: solid 1px #f1f1f1;
    padding-bottom: 20px; }
  .faqs-list .item {
    border-bottom: solid 1px #f1f1f1;
    padding-bottom: 20px;
    margin-bottom: 20px; }
    .faqs-list .item a {
      color: #333333; }
    .faqs-list .item a:hover {
      color: #cf2430; }
    .faqs-list .item .hidden {
      margin-top: 25px; }

.article {
  margin-bottom: 20px; }
  .article h2 {
    font-size: 24px;
    font-size: 2.4rem;
    font-weight: 300;
    margin-bottom: 10px; }
    .article h2 a {
      color: #333333; }
    .article h2 a:hover {
      color: #cf2430; }
  .article h3 {
    color: #999999;
    font-size: 14px;
    font-size: 1.4rem;
    margin-bottom: 0; }
    .article h3 span {
      margin-right: 5px; }

.article-expanded {
  margin-bottom: 30px;
  padding-bottom: 40px;
  border-bottom: solid 1px #f1f1f1; }
  @media only screen and (min-width: 768px) {
    .article-expanded {
      margin-bottom: 70px;
      padding-bottom: 70px; } }
  .article-expanded h2 {
    font-size: 30px;
    font-size: 3rem;
    font-weight: 300;
    margin-bottom: 20px; }
    @media only screen and (min-width: 768px) {
      .article-expanded h2 {
        font-size: 36px;
        font-size: 3.6rem; } }
    .article-expanded h2 a {
      color: #333333; }
    .article-expanded h2 a:hover {
      color: #cf2430; }
  .article-expanded h3 {
    color: #999999;
    font-size: 14px;
    font-size: 1.4rem;
    margin-bottom: 20px; }
    .article-expanded h3 span {
      margin-right: 5px; }
  .article-expanded p {
    margin-bottom: 30px; }
  .article-expanded:last-of-type {
    border-bottom: none;
    margin-bottom: 0; }

.article-title {
  margin-bottom: 30px; }
  @media only screen and (min-width: 768px) {
    .article-title {
      margin-bottom: 50px; } }
  .article-title h1 {
    font-size: 38px;
    font-size: 3.8rem;
    font-weight: 300;
    margin: 0 0 20px 0;
    text-align: center;
    padding: 0 20px; }
    @media only screen and (min-width: 768px) {
      .article-title h1 {
        font-size: 48px;
        font-size: 4.8rem; } }
  .article-title h2 {
    color: #999999;
    font-size: 14px;
    font-size: 1.4rem;
    margin-bottom: 20px;
    text-align: center; }
    .article-title h2 span {
      margin-right: 5px; }

.section {
  margin-bottom: 0px;
  padding: 0; }
  @media only screen and (min-width: 768px) {
    .section {
      margin-bottom: 70px;
      padding: 0; } }

.section-title h2 {
  font-size: 36px;
  font-size: 3.6rem;
  text-align: left;
  font-weight: 300;
  line-height: 36px;
  margin-bottom: 30px; }

.data-section {
  margin-bottom: 20px; }
  @media only screen and (min-width: 768px) {
    .data-section {
      margin-bottom: 70px; } }
  .data-section h2 {
    font-size: 20px;
    font-size: 2rem;
    text-align: left;
    font-weight: 400;
    margin: 0 0 20px 0; }
    @media only screen and (min-width: 768px) {
      .data-section h2 {
        font-size: 18px;
        font-size: 1.8rem; } }

.data-list {
  font-size: 14px;
  font-size: 1.4rem;
  border-bottom: solid 1px #f1f1f1;
  margin-bottom: 10px;
  padding-bottom: 10px; }
  .data-list .data-list-title {
    font-weight: 600; }
  .data-list .data-list-item {
    font-weight: 300; }

.overflow-show {
  overflow: visible; }

.standard-table {
  border-collapse: collapse;
  width: 100%;
  margin-bottom: 20px; }
  .standard-table th {
    font-weight: bold;
    border-bottom: 1px solid #f1f1f1; }
  .standard-table td, .standard-table th {
    text-align: center;
    padding: 10px 4px; }
  .standard-table td {
    font-weight: 300;
    border-bottom: 1px solid #f1f1f1; }
  .standard-table a {
    text-decoration: underline;
    color: #333333; }
  .standard-table a:hover {
    color: #cf2430; }

.no-margin {
  margin: 0;
  padding: 0; }

.filter-header {
  border-bottom: solid 1px #f1f1f1;
  margin-bottom: 20px; }

.group {
  padding: 20px 0; }

.group-top {
  padding: 0 0 20px 0; }

.sharelinks {
  font-size: 20px;
  font-size: 2rem; }
  .sharelinks a {
    color: #333333;
    margin-left: 10px;
    font-size: 30px;
    font-size: 3rem; }
  .sharelinks a:hover {
    color: #cf2430; }

.nolink {
  cursor: not-allowed; }

.text-left {
  text-align: left; }

.text-right {
  text-align: right; }

.text-centred {
  text-align: center; }

.margin-top-0 {
  margin-top: 0; }

.margin-top-70 {
  margin-top: 20px; }
  @media only screen and (min-width: 768px) {
    .margin-top-70 {
      padding-top: 70px; } }

.padding-top-0 {
  padding-top: 0; }

.padding-top-70 {
  padding-top: 30px; }
  @media only screen and (min-width: 768px) {
    .padding-top-70 {
      padding-top: 70px; } }

.bottom-btn {
  padding-top: 15px; }

.med-text-link {
  color: #333333;
  font-size: 18px;
  font-size: 1.8rem; }

.bg-grey {
  background-color: #f1f1f1; }

.border-gray {
  border: solid 1px #f1f1f1; }

.border-gray-top {
  border-top: solid 1px #f1f1f1;
  padding-top: 20px; }
  @media only screen and (min-width: 768px) {
    .border-gray-top {
      padding-top: 80px; } }

.border-gray-top-narrow {
  border-top: solid 1px #f1f1f1;
  padding-top: 40px; }

.border-gray-top-nomargin {
  border-top: solid 1px #f1f1f1;
  padding-top: 0; }

.border-gray-top-smallmargin {
  border-top: solid 1px #f1f1f1;
  padding-top: 20px; }

h3.download-title {
  font-size: 20px;
  font-size: 2rem;
  color: #333333;
  font-weight: 500; }

.map-header {
  font-size: 18px;
  font-size: 1.8rem;
  color: #333333;
  margin: 30px 0; }

.map-overlay {
  background: red;
  text-align: center;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  color: white;
  line-height: 40px;
  font-size: 16px; }

.basket {
  margin-bottom: 70px; }

.basket-item a {
  color: #666666;
  text-decoration: underline; }
.basket-item a:hover {
  color: #cf2430; }

@media only screen and (min-width: 768px) {
  .table {
    display: table;
    float: none;
    margin: 0;
    padding: 0;
    width: 100%; }
    .table img {
      width: 100%; }

  .table-cell-valignmid {
    display: table-cell;
    vertical-align: middle;
    float: none; } }
.btn {
  -webkit-appearance: none;
  border-radius: 0;
  font-size: 14px;
  font-size: 1.4rem;
  -webkit-border-radius: 0.5em;
  -moz-border-radius: 0.5em;
  border-radius: 0.5em;
  padding: 15px 20px;
  display: block;
  text-align: center;
  border: 0; }
  @media only screen and (min-width: 768px) {
    .btn {
      display: inline-block; } }

.btn-red {
  background-color: #cf2430;
  color: #ffffff !important;
  border: solid 1px #cf2430;
  cursor: pointer; }

.btn-red:hover {
  background-color: #ffffff;
  color: #cf2430 !important;
  border: solid 1px #cf2430; }

.btn-grey {
  background-color: #cccccc;
  color: #cf2430;
  border: solid 1px #cccccc; }

.btn-grey:hover {
  background-color: #ffffff;
  color: #cf2430;
  border: solid 1px #cf2430; }

.btn-small {
  font-size: 14px;
  font-size: 1.4rem;
  -webkit-border-radius: 0.5em;
  -moz-border-radius: 0.5em;
  border-radius: 0.5em;
  padding: 5px 10px;
  border: solid 1px #cf2430; }

.btn-white {
  background-color: #ffffff;
  color: #cf2430; }

.btn-current {
  color: #000000;
  border: solid 1px #f1f1f1;
  background-color: #ffffff; }

.btn-right {
  margin-left: 15px; }

input[type=text].has-error {
  border: 1px solid red; }

input[type=file].has-error + label {
  border: 1px solid red; }

select.has-error {
  border: 1px solid red; }

textarea.has-error {
  border: 1px solid red; }

.searchinput {
  border: none;
  border-bottom: solid 1px #cccccc;
  display: none; }

.searchinput2 {
  margin-left: 15px;
  border: none;
  border-bottom: solid 1px #cccccc; }

.order-table .options {
  width: 100%; }

.areafix > .container:first-of-type h3 {
  margin-top: 0; }

.mobile-only {
  display: block !important; }
  @media only screen and (min-width: 768px) {
    .mobile-only {
      display: none !important; } }

.fullmenu {
  position: absolute;
  right: 0;
  display: none; }

.menu-col {
  float: left;
  width: 25%; }

.no-padding {
  padding: 0;
  margin: 0 !important; }

.s-only {
  display: block !important; }
  @media only screen and (min-width: 768px) {
    .s-only {
      display: none !important; } }

.m-only {
  display: none !important; }
  @media only screen and (min-width: 768px) {
    .m-only {
      display: block !important; } }

.l-only {
  display: none !important; }
  @media only screen and (min-width: 1024px) {
    .l-only {
      display: block !important; } }

.clearfix:before,
.clearfix:after {
  content: " ";
  display: table; }

.clearfix:after {
  clear: both; }

.clearfix {
  *zoom: 1; }

/*# sourceMappingURL=all.css.map */